# –õ–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ ‚Ññ1

## –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏
–í —Ö–æ–¥–µ –≤—Å–µ—Ö –ª–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω—ã—Ö —Ä–∞–±–æ—Ç –±—É–¥—É—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏:

–ë–∏–±–ª–∏–æ—Ç–µ–∫–∞|–û–ø–∏—Å–∞–Ω–∏–µ
-|-
[numpy](http://www.numpy.org/)|–†–∞–±–æ—Ç–∞ —Å –º–∞—Å—Å–∏–≤–∞–º–∏ –∏ –º–∞—Ç—Ä–∏—Ü–∞–º–∏
[pandas](http://pandas.pydata.org/)|–£–¥–æ–±–Ω–∞—è –æ–±—Ä–∞–±–æ—Ç–∫–∞ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö
[scikit-learn](https://scikit-learn.org/stable/)|–ê–ª–≥–æ—Ä–∏—Ç–º—ã –∏ –º–µ—Ç–æ–¥—ã –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è
 
–ï—Å–ª–∏ –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∫–∞–∫–æ–π-–ª–∏–±–æ –∏–∑ –ª–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω—ã—Ö —Ä–∞–±–æ—Ç –ø–æ—Ç—Ä–µ–±—É—é—Ç—Å—è –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, –æ–± —ç—Ç–æ–º –±—É–¥–µ—Ç —Å–∫–∞–∑–∞–Ω–æ –≤ –Ω–∞—á–∞–ª–µ —Ç–µ—Ç—Ä–∞–¥–∫–∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–µ–π –ª–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–æ–π —Ä–∞–±–æ—Ç—ã.

## –ó–∞–¥–∞–Ω–∏–µ
–õ–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —ç—Ç–∞–ø–æ–≤:
 1. –ò–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞
 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ (–Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è, —Å–æ–∑–¥–∞–Ω–∏–µ –∏ —É–º–µ–Ω—å—à–µ–Ω–∏–µ —á–∏—Å–ª–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤)
 3. –°–æ–∑–¥–∞—Ç—å –ø—Ä–æ—Å—Ç–µ–π—à—É—é –ª–∏–Ω–µ–π–Ω—É—é –º–æ–¥–µ–ª—å –∏ –æ–±—É—á–∏—Ç—å –µ—ë –Ω–∞ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö
 4. –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Ç–æ—á–Ω–æ—Å—Ç—å –¥–∞–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏
 5. –ü–æ–Ω—è—Ç—å –≤–∞–∂–Ω–æ—Å—Ç—å –ø—Ä–∞–≤–∏–ª—å–Ω–æ–≥–æ –æ—Ç–±–æ—Ä–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –æ–±—Ä–∞—â–∞–µ—Ç –≤–Ω–∏–º–∞–Ω–∏–µ –º–æ–¥–µ–ª—å

–ù–∏–∂–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–∞—è —Ç–µ–æ—Ä–µ—Ç–∏—á–µ—Å–∫–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è, –Ω–µ–æ–±—Ö–æ–¥–∏–º–∞—è –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è, –∫—É—Å–∫–∏ –∫–æ–¥–∞ –¥–ª—è –ø—Ä–∏–º–µ—Ä–∞, –∞ —Ç–∞–∫–∂–µ –±–æ–ª–µ–µ –¥–µ—Ç–∞–ª—å–Ω–æ–µ –ø–æ—è—Å–Ω–µ–Ω–∏–µ –∫–∞–∂–¥–æ–≥–æ –∏–∑ —ç—Ç–∞–ø–æ–≤.

## –ò–Ω—Å—Ç—Ä—É–∫—Ü–∏—è
### –≠—Ç–∞–ø 1: –ò–º–ø–æ—Ä—Ç –¥–∞–Ω–Ω—ã—Ö
–î–ª—è –∏–º–ø–æ—Ä—Ç–∞ –¥–∞–Ω–Ω—ã—Ö —É–¥–æ–±–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas.  
–ß—Ç–æ–±—ã –∏–º–µ—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å pandas, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å:

In [2]:
import pandas as pd

–¢–µ–ø–µ—Ä—å –º–æ–∂–Ω–æ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ. –¢–∞–∫ –∫–∞–∫ –≤—Å–µ –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –¥–∞–Ω–Ω–æ–π –ª–∞–±—ã –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≤ —Ñ–æ—Ä–º–∞—Ç–µ CSV, –º–æ–∂–µ–º —Å–º–µ–ª–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –º–µ—Ç–æ–¥–æ–º pandas –¥–ª—è —Å—á–∏—Ç—ã–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –≤ —Ñ–æ—Ä–º–∞—Ç–µ CSV:

In [16]:
df = pd.read_csv('datasets/titanic.csv')

–ú–µ—Ç–æ–¥ `read_csv()` –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∞—Ä–≥—É–º–µ–Ω—Ç–∞ –∏–º—è —Ñ–∞–π–ª–∞ –∏ –∫—É—á—É –¥—Ä—É–≥–∏—Ö –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤. –ü–æ–¥—Ä–æ–±–Ω–µ–µ –æ –º–µ—Ç–æ–¥–µ `read_csv()` –º–æ–∂–Ω–æ –ø—Ä–æ—á–∏—Ç–∞—Ç—å [–∑–¥–µ—Å—å](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).  
–ù–æ —á—Ç–æ –∂–µ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —ç—Ç–æ—Ç –º–µ—Ç–æ–¥? –û–Ω –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ —Ñ–∞–π–ª–∞, —É–ø–∞–∫–æ–≤–∞–Ω–Ω–æ–µ –≤ —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö `DataFrame`, –∫–æ—Ç–æ—Ä–∞—è —è–≤–ª—è–µ—Ç—Å—è  –æ–¥–Ω–æ–π –∏–∑ –æ—Å–Ω–æ–≤–Ω—ã—Ö –≤ –±–∏–±–ª–∏–æ—Ç–µ–∫–µ pandas.

DataFrame -- –¥–≤—É–º–µ—Ä–Ω–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –¥–∞–Ω–Ω—ã—Ö, —Å —Ä–∞–∑–º–µ—á–µ–Ω–Ω—ã–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏ –∏ —Å—Ç—Ä–æ–∫–∞–º–∏. –ü–æ —Å—É—Ç–∏, –ø—Ä–æ—Å—Ç–æ —Ç–∞–±–ª–∏—Ü–∞ —Å —É–¥–æ–±–Ω—ã–º –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å–æ–º –¥–æ—Å—Ç—É–ø–∞ –∫ –¥–∞–Ω–Ω—ã–º. –ù–∏–∂–µ –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω—ã –Ω–µ—Å–∫–æ–ª—å–∫–æ —É–¥–æ–±–Ω—ã—Ö —Å–ø–æ—Å–æ–±–æ–≤ –¥–æ—Å—Ç—É–ø–∞ –∫ –¥–∞–Ω–Ω—ã–º:  

–°–ø–æ—Å–æ–± –¥–æ—Å—Ç—É–ø–∞|–û–ø–∏—Å–∞–Ω–∏–µ|–ü—Ä–∏–º–µ—Ä
-|-|-
`df.head([n])`|–ü–æ–ª—É—á–∏—Ç—å –ø–µ—Ä–≤—ã–µ n —Å—Ç—Ä–æ–∫|`df.head(5)`
`df[str]`|–í—ã–±—Ä–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü|`df['sex']`
`df.iloc[idx]`|–í—ã–±—Ä–∞—Ç—å —Å—Ç—Ä–æ–∫—É(–∏)|`df.iloc[2:6]`
`df.at[idx, str]`|–í—ã–±—Ä–∞—Ç—å —è—á–µ–π–∫—É|`df.at[4, 'sex']`

–ò–∑–º–µ–Ω—è—Ç—å –¥–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ –æ–±—ã—á–Ω—ã–º –æ–ø–µ—Ä–∞—Ç–æ—Ä–æ–º –ø—Ä–∏—Å–≤–∞–∏–≤–∞–Ω–∏—è (=).  
–ù–µ–∫–æ—Ç–æ—Ä—ã–µ —Ä–µ—Å—É—Ä—Å—ã –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –æ–∑–Ω–∞–∫–æ–º–ª–µ–Ω–∏—è:
 * [–õ–µ–≥–∫–∏–π –¥–ª—è —á—Ç–µ–Ω–∏—è –≥–∞–π–¥ –ø–æ —Å—Ç—Ä—É–∫—Ç—É—Ä–∞–º –¥–∞–Ω–Ω—ã—Ö –≤ pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html#dataframe)
 * [–ß—É—Ç—å –ø–æ–¥—Ä–æ–±–Ω–µ–µ –ø—Ä–æ —Ä–∞–∑–º–µ—Ç–∫—É –∏ –¥–æ—Å—Ç—É–ø –∫ –¥–∞–Ω–Ω—ã–º](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing)
 * [–î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è –ø–æ DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html)

### –≠—Ç–∞–ø 2: –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö
–¢–µ–ø–µ—Ä—å, –∫–æ–≥–¥–∞ –¥–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ –ø–∞–º—è—Ç—å, –º–æ–∂–Ω–æ –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ –∏—Ö –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–µ. 
–°–Ω–∞—á–∞–ª–∞, –ø–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –∂–µ –≤–æ–æ–±—â–µ –∑–∞ –¥–∞–Ω–Ω—ã–µ —Ç–∞–º –ª–µ–∂–∞—Ç:

In [17]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

–í–∏–¥–∏–º, —á—Ç–æ –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ "–ø–æ–ª", –Ω–µ —É–Ω–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω—ã. –¢–æ –±–∏—à—å, –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –ø–æ–ª –º–æ–∂–µ—Ç –æ–±–æ–∑–æ–Ω–∞—á–∞—Ç—å—Å—è –∫–∞–∫ "male", "Male", "MALE" –∏ —Ç. –¥.  
–¢–∞–∫–∞—è —Å–∏—Ç—É–∞—Ü–∏—è –∫—Ä–∞–π–Ω–µ –Ω–µ–∂–µ–ª–∞—Ç–µ–ª—å–Ω–∞, –∏ –æ—Ç —Ç–∞–∫–∏—Ö —Å–∏—Ç—É–∞—Ü–∏–π –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏–∑–±–∞–≤–ª—è—Ç—å—Å—è.  
–ö—Ä–æ–º–µ —Ç–æ–≥–æ, –º–æ–¥–µ–ª—å –Ω–∞ –≤—Ö–æ–¥ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç —Ç–æ–ª—å–∫–æ —á–∏—Å–ª–æ–≤—ã–µ, —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º –∫–∞–∂–¥–æ–º—É –ø–æ–ª—É –Ω—É–∂–Ω–æ —Å–æ–ø–æ—Å—Ç–∞–≤–∏—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä–æ–µ —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ, –∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü –ø–æ–ª–∞ –Ω—É–∂–Ω—ã–º –æ–±—Ä–∞–∑–æ–º.  
–ë–æ–ª–µ–µ –ø–æ–¥—Ä–æ–±–Ω–æ –æ —Ç–æ–º, —á—Ç–æ –∏–º–µ–Ω–Ω–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–¥–µ–ª–∞—Ç—å –Ω–∞ –¥–∞–Ω–Ω–æ–º —ç—Ç–∞–ø–µ, —Å–º. –Ω–∏–∂–µ –≤ —Ç–∞–±–ª–∏—Ü–µ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤.

In [18]:
def normalize_sex(df: pd.DataFrame) -> pd.DataFrame:
    df['Sex'] = df['Sex'].apply(lambda x: 0 if x == 'male' else 1 if x == 'female' else 2)
    # Implement this
    return df

df = normalize_sex(df)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

### –≠—Ç–∞–ø 3: –°–æ–∑–¥–∞–Ω–∏–µ –∏ –æ–±—É—á–µ–Ω–∏–µ –ª–∏–Ω–µ–π–Ω–æ–π –º–æ–¥–µ–ª–∏

In [19]:
temp = df

–ó–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞—Ç–∞—Å–µ—Ç –≤ —Ñ–æ—Ä–º–∞—Ç–µ CSV —Å–æ–≥–ª–∞—Å–Ω–æ –≤–∞—Ä–∏–∞–Ω—Ç—É.
–ü—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ —Å–æ–≥–ª–∞—Å–Ω–æ –≤–∞—Ä–∏–∞–Ω—Ç—É:
 * –£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—é –¥–∞–Ω–Ω—ã—Ö
 * –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –æ—Ç–Ω–æ—à–µ–Ω–∏–π –∫ –ø–µ—Ä–≤–æ–π –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π —Ñ–æ—Ä–º–µ
 * –°–æ–∑–¥–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
 * –ü–æ–ª—É—á–µ–Ω–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –∏–∑ –¥–∞–Ω–Ω—ã—Ö
 * –û—Ç–±–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —Å –ø–æ–º–æ—â—å—é:
     1. –°–ª—É—á–∞–π–Ω–æ–≥–æ –æ—Ç–±–æ—Ä–∞(3 –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏), —Å—Ä–∞–≤–Ω–∏—Ç—å —Å –∑–∞–¥–∞–Ω–Ω—ã–º –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω—ã–º.
     2. –†–µ–≥—É–ª—è—Ä–∏–∑–∞—Ü–∏–∏ –ø–æ –¥–∞–Ω–Ω–æ–π –∫–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–∏ –Ω–µ–π—Ä–æ—Å–µ—Ç–µ–≤–æ–π –º–æ–¥–µ–ª–∏.
 * –ü—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏—é —Å —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ–º –Ω–∞ N —Ç–µ—Å—Ç–æ–≤—ã—Ö –Ω–∞–±–æ—Ä–æ–≤ –∏ 1 –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω—ã–π
 * –û—Ü–µ–Ω–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ —Å –ø–æ–º–æ—â—å—é:
     1. –ú–µ—Ç—Ä–∏–∫(presicion, recall, F-measure)
     2. –§—É–Ω–∫—Ü–∏–∏ –ø–æ—Ç–µ—Ä—å
     3. Q-—Ñ—É–Ω–∫—Ü–∏–∏
 * –ü–æ—Å—Ç—Ä–æ–∏—Ç—å –ª–∏–Ω–µ–π–Ω—É—é –º–æ–¥–µ–ª—å
 
 –ö–∞–∂–¥—ã–π —ç—Ç–∞–ø —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ –æ–±—Ä–∞–∑—Ü—Éü§î)

### –û–±—Ä–∞–∑–µ—Ü –∑–∞–≥–æ–ª–æ–≤–∫–∞

In [8]:
ü§î)#–û–±—Ä–∞–∑–µ—Ü –∫–æ–¥–∞

SyntaxError: invalid character in identifier (<ipython-input-8-b707d67171e9>, line 1)

## –í–∞—Ä–∏–∞–Ω—Ç—ã

| –í–∞—Ä–∏–∞–Ω—Ç| –î–∞—Ç–∞—Å–µ—Ç   | –°–æ–∑–¥–∞–≤–∞–µ–º—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏/–£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—è | N   | –†–µ–∑—É–ª—å—Ç–∞—Ç |
|-|-|-|-|-|
| 1 | heart_diseases.csv | –£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—è | 3 | –ó–æ–Ω—ã —Ä–∏—Å–∫–∞ —Å–µ—Ä–¥–µ—á–Ω—ã—Ö –∑–∞–±–æ–ª–µ–≤–∞–Ω–∏–π |
| 2 | mushroom.csv | –£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—è | 5 | –°—ä–µ–¥–æ–±–Ω–æ—Å—Ç—å –≥—Ä–∏–±–∞ |
| 3 | houses.csv | –£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—è | 4 | –°—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–∞ |
| 4 | alcohol.csv | –£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—è | 4 | –°–∫–ª–æ–Ω–Ω–æ—Å—Ç—å –∫ —É–ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏—é —Å–ø–∏—Ä—Ç–Ω–æ–≥–æ  |
| 5 | sales.csv | –£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—è | 5 | –†–∞–∑–º–µ—Ä –∑–∞—Ä–ø–ª–∞—Ç—ã |
| 6 | wines.csv | –ö–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞—Ç—å —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ —Å–∞—Ö–∞—Ä–∞(—Å—É—Ö–æ–µ, –ø–æ–ª—É—Å—É—Ö–æ–µ, ...) | 3 | –í–∫—É—Å–æ–≤—ã–µ –∫–∞—á–µ—Å—Ç–≤–∞ –≤–∏–Ω–∞ |
| 7 | passengers.csv | –£–Ω–∏—Ñ–∏–∫–∞—Ü–∏—è | 3 | –í—ã–∂–∏–ª –ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä |

# –¥—Ä–æ–Ω –¥–∞–ª—å—à–µ –Ω–µ –∑—ã—Ä—å

### –ò–º–ø–æ—Ä—Ç –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–µ–π

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('wine reviews.csv')

In [9]:
df.head()

,id,asins,brand,categories,dateAdded,dateUpdated,descriptions,dimension,ean,flavors,...,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,sourceURLs,upc,weight
0,AV13ClKCGV-KLJ3akN68,NaN,Gallo,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:11Z,2018-01-10T18:06:28Z,NaN,1.0 in x 1.0 in x 1.0 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,This a fantastic white wine for any occasion!,My Favorite White Wine,NaN,NaN,Bjh,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,4.9213E+11,1.0 lbs
1,AV13CsvW-jtxr-f38AQO,NaN,Fresh Craft Co.,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:42Z,2018-01-10T05:38:33Z,"[{""dateSeen"":[""2017-12-21T05:43:00.000Z"",""2017...",4.25 in x 4.25 in x 5.25 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,"Tart, not sweet...very refreshing and delicious!",Yum!!,NaN,NaN,Wino,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,83120003441,2.45 lbs
2,AV13CVI_glJLPUi8O7Po,NaN,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,NaN,3.3 in x 3.3 in x 11.79 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,I was given this wine so it was a delightful s...,A New Favorite!,NaN,NaN,Bama Mom,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,82896001453,3.09 lbs
3,AV13CVI_glJLPUi8O7Po,NaN,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,NaN,3.3 in x 3.3 in x 11.79 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,This is a phenomenal wine and my new favorite ...,"Bold, Flavorful, Aromatic, Delicious",NaN,NaN,Av Dub,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,82896001453,3.09 lbs
4,AV13CYL4-jtxr-f37_-t,NaN,Wine Cube153,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:18Z,2018-01-10T18:06:29Z,"[{""dateSeen"":[""2017-12-21T05:43:00.000Z"",""2017...",1.0 in x 1.0 in x 1.0 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,4 750ml bottles for the price of two With way ...,"Yum! Plus, Environmentally Friendly!",Overland Park,NaN,Chelseamay,NaN,https://redsky.target.com/groot-domain-api/v1/...,85200600465,1.0 lbs

In [10]:
changed = df.replace({'brand': 'Gallo'}, 'ü§î)')

In [11]:
changed.head()

,id,asins,brand,categories,dateAdded,dateUpdated,descriptions,dimension,ean,flavors,...,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,sourceURLs,upc,weight
0,AV13ClKCGV-KLJ3akN68,NaN,ü§î),"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:11Z,2018-01-10T18:06:28Z,NaN,1.0 in x 1.0 in x 1.0 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,This a fantastic white wine for any occasion!,My Favorite White Wine,NaN,NaN,Bjh,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,4.9213E+11,1.0 lbs
1,AV13CsvW-jtxr-f38AQO,NaN,Fresh Craft Co.,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:59:42Z,2018-01-10T05:38:33Z,"[{""dateSeen"":[""2017-12-21T05:43:00.000Z"",""2017...",4.25 in x 4.25 in x 5.25 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,"Tart, not sweet...very refreshing and delicious!",Yum!!,NaN,NaN,Wino,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,83120003441,2.45 lbs
2,AV13CVI_glJLPUi8O7Po,NaN,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,NaN,3.3 in x 3.3 in x 11.79 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,I was given this wine so it was a delightful s...,A New Favorite!,NaN,NaN,Bama Mom,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,82896001453,3.09 lbs
3,AV13CVI_glJLPUi8O7Po,NaN,1000 Stories,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:05Z,2018-01-10T05:38:31Z,NaN,3.3 in x 3.3 in x 11.79 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,This is a phenomenal wine and my new favorite ...,"Bold, Flavorful, Aromatic, Delicious",NaN,NaN,Av Dub,NaN,http://redsky.target.com/v1/plp/search?kwr=y&c...,82896001453,3.09 lbs
4,AV13CYL4-jtxr-f37_-t,NaN,Wine Cube153,"Food & Beverage,Beverages,Wine, Beer & Liquor,...",2017-07-24T23:58:18Z,2018-01-10T18:06:29Z,"[{""dateSeen"":[""2017-12-21T05:43:00.000Z"",""2017...",1.0 in x 1.0 in x 1.0 in,NaN,NaN,...,https://redsky.target.com/groot-domain-api/v1/...,4 750ml bottles for the price of two With way ...,"Yum! Plus, Environmentally Friendly!",Overland Park,NaN,Chelseamay,NaN,https://redsky.target.com/groot-domain-api/v1/...,85200600465,1.0 lbs